$es-pink: #d43e88;
$es-pink--lighter: #ff5dbf;
$es-teal: #00aeb7;
$es-teal--lighter: #30e9ea;
$es-yellow: #faed23;

$es-ff-barlow: 'Barlow Condensed', sans-serif;
$es-ff-montserrat: 'Montserrat', sans-serif;

/**
 * ----------------------------------------
 * animation blink-2
 * ----------------------------------------
 */
@-webkit-keyframes blink-2 {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink-2 {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}


body {
  margin: 0;
  padding: 0;
}

.es-rc #es-rc-content {
  font-family: $es-ff-montserrat;

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  p {
    margin: 0;
  }

  img {
    max-width: 100%;
    display: block;
    margin: auto;
  }

  .es-section {
    margin: 0;
    padding: 0;
  }

  .es-title {
    font-family: $es-ff-barlow;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
  }

  .es-kv {
    background-color: $es-pink;
    color: #fff;

    .es-title {
      font-size: 42px;

      &--span {
        font-weight: 300;
      }

      @media (min-width: 576px) {
        font-size: 34px;
      }

      @media (min-width: 768px) {
        font-size: 51px;
      }
    }

    &__textCtn {
      padding: 2rem 2rem 0 2rem;

      @media (min-width: 576px) {
        padding: 1rem 1rem 0 1rem;
      }
    }

    &__text {
      text-align: center;
      margin-block: 1rem;
      font-size: 16px;

      @media (min-width: 576px) {
        font-size: 10px;
      }

      @media (min-width: 768px) {
        font-size: 14px;
      }
    }

    &__container {
      display: flex;
      flex-direction: column;

      @media (min-width: 576px) {
        flex-direction: row;
      }

      &--left {
        @media (min-width: 576px) {
          flex-basis: 50%;
        }
      }

      &--right {
        @media (min-width: 576px) {
          flex-basis: 50%;
        }
      }

    }

    &__packshotCtn {
      position: relative;
      z-index: 2;
      overflow: hidden;
    }

    &__badge {
      position: absolute;
      left: 1rem;
      width: 33%;
      max-width: 75px;
      z-index: 2;

      @media (min-width: 360px) {
        max-width: 100px;
      }

      @media (min-width: 410px) {
        left: 2rem;
      }

      @media (min-width: 576px) {
        max-width: 66px;
      }

      @media (min-width: 768px) {
        max-width: 100px;
      }
    }

    &__packshot {
      width: 75%;
      z-index: 2;

      @media (min-width: 576px) {
        width: 66%;
      }

      @media (min-width: 768px) {
        width: 69%;
      }
    }

    &__signs {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      width: 66%;
      max-width: 200px;
      z-index: 2;

      @media (min-width: 360px) {
        max-width: 250px;
      }

      @media (min-width: 410px) {
        bottom: 2rem;
        right: 2rem;
      }

      @media (min-width: 576px) {
        bottom: 1rem;
        right: 1rem;
        max-width: 150px;
      }

      @media (min-width: 768px) {
        max-width: 220px;
        bottom: 1.5rem;
        right: 1.5rem;
      }
    }

    &__star {
      transform: rotate(35deg);
      position: absolute;
      z-index: -1;
      -webkit-animation: blink-2 4s ease-in-out infinite both;
      animation: blink-2 4s ease-in-out infinite both;
    }

    &__star--1 {
      width: 60px;
      height: 60px;
      top: 20%;
      right: -3%;

      @media (min-width: 410px) {
        width: 70px;
        height: 70px;
        top: 23%;
        right: -1%;
      }
      @media (min-width: 576px) {
        width: 45px;
        height: 45px;
        top: 20%;
      }
    }

    &__star--2 {
      width: 20px;
      height: 20px;
      top: 50%;
      right: 10%;
      animation-delay: 0.6s;

      @media (min-width: 410px) {
        width: 25px;
        height: 25px;
        top: 42%;
        right: 7%;
      }
      @media (min-width: 576px) {
        width: 15px;
        height: 15px;
      }
    }

    &__star--3 {
      width: 40px;
      height: 40px;
      top: 51%;
      right: 20%;
      animation-delay: 1.2s;

      @media (min-width: 410px) {
        width: 50px;
        height: 50px;
        top: 48%;
        right: 15%;
      }
      @media (min-width: 576px) {
        width: 30px;
        height: 30px;
      }
    }

      &__star--4 {
        width: 35px;
        height: 35px;
        top: 32%;
        left: 5%;
        animation-delay: 4s;

        @media (min-width: 410px) {
          width: 45px;
          height: 45px;
          top: 25%;
          left: 7%;
        }
        @media (min-width: 576px) {
          width: 30px;
          height: 30px;
          top: 30%;
        }
      }
    

    &__star--5 {
      width: 20px;
      height: 20px;
      top: 38%;
      left: 19%;
      animation-delay: 5.2s;

      @media (min-width: 410px) {
        width: 25px;
        height: 25px;
        top: 31%;
        left: 20%;
      }
      @media (min-width: 576px) {
        width: 15px;
        height: 15px;
        top: 40%;
      }
    }

    &__star--6 {
      width: 20px;
      height: 20px;
      top: 50%;
      left: 2%;
      animation-delay: 0.2s;

      @media (min-width: 410px) {
        width: 25px;
        height: 25px;
        top: 50%;
        left: 3%;
      }
      @media (min-width: 576px) {
        width: 15px;
        height: 15px;
      }
    }

    &__photo {
      width: 100%;
      border: 12px solid $es-yellow;
    }


  }



  .es-cross {
    padding: 1rem;
    background: rgb(34, 78, 160);
    background: -moz-linear-gradient(98deg,
        rgba(34, 78, 160, 1) 40%,
        rgba(74, 166, 209, 1) 100%);
    background: -webkit-linear-gradient(98deg,
        rgba(34, 78, 160, 1) 40%,
        rgba(74, 166, 209, 1) 100%);
    background: linear-gradient(98deg,
        rgba(34, 78, 160, 1) 40%,
        rgba(74, 166, 209, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#224ea0", endColorstr="#4aa6d1", GradientType=1);

    &__header {
      text-align: center;
    }

    &__pill {
      border-radius: 99px;
      outline: 2px solid #fff;
      color: white;
      background: rgb(34, 78, 160);
      background: -moz-linear-gradient(98deg,
          rgba(34, 78, 160, 1) 15%,
          rgba(74, 166, 209, 1) 100%);
      background: -webkit-linear-gradient(98deg,
          rgba(34, 78, 160, 1) 15%,
          rgba(74, 166, 209, 1) 100%);
      background: linear-gradient(98deg,
          rgba(34, 78, 160, 1) 15%,
          rgba(74, 166, 209, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#224ea0", endColorstr="#4aa6d1", GradientType=1);
      text-transform: uppercase;
      padding: 0.5rem 1.5rem;
      text-align: center;
      font-weight: 900;
      font-size: 1.2rem;
      margin: auto;

      &--1 {
        position: absolute;
        top: 10%;
      }

      &--2 {
        position: absolute;
        bottom: 10%;
      }
    }

    &__upperCtn {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
      justify-content: center;
      position: relative;

      &--single {
        display: flex;
        flex-direction: column;
        align-items: center;


        &:nth-child(1)::before {
          content: url(./img/star.png);
          display: block;
          height: 20px;
          position: absolute;
          left: 2%;
          top: 4%;
        }

        &:nth-child(2)::after {
          content: url(./img/stars.png);
          display: block;
          height: 20px;
          position: absolute;
          right: 2%;
          bottom: 50%;
        }

        &:hover .es-cross__upperCtn--img {
          scale: 1.1;
        }
      }

      &--img {
        max-height: 350px;
        scale: 1;
        transition: all 400ms ease-in-out;
      }
    }

    &__txt {
      color: white;
      font-family: "Square Peg", cursive;
      text-decoration: underline;
      font-size: 2rem;
      text-align: right;
      margin-left: auto;
      margin-right: 2rem;
      margin-block: 2rem;
      transform: rotate(5deg);
    }

    &__productsCtn {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-end;
      font-family: "Montserrat", sans-serif;
    }

    &__single {
      max-width: 200px;
      margin: 10px;
      display: grid;
      grid-template-rows: 350px 60px 200px 40px;

      &:hover .es-cross__img {
        scale: 1.05;
      }

      &:hover .es-cross__link {
        background-color: transparent;
        outline: 4px solid #e0219a;
      }
    }

    &__imgCtn {
      padding: 20px;
    }

    &__img {
      margin: 0 auto;
      display: block;
      height: 100%;
      transition: all 400ms ease-in-out;
    }

    &__nameCtn {
      background-color: #000;
      min-height: 50px;
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
    }

    &__name {
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      font-weight: 900;
    }

    &__descCtn {
      padding: 10px 0;
      min-height: 160px;
    }

    &__desc {
      color: #fff;
      font-size: 12px;
      font-weight: 400;
      text-align: center;
    }

    &__link {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 900;
      color: #fff;
      text-align: center;
      background-color: #e0219a;
      width: 200px;
      padding: 10px 20px;
      font-size: 14px;
      transition: 0.4s all ease-in-out;
      display: block;
      margin: 0 auto;

      &:hover {
        background-color: transparent;
        outline: 4px solid #e0219a;
      }
    }
  }
}